
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
@import url(http://db.onlinewebfonts.com/c/e2ada776bd0252e6e44e89ea055cad60?family=Nova+SOLID);

@font-face {font-family: "Nova SOLID";
    src: url("http://db.onlinewebfonts.com/t/e2ada776bd0252e6e44e89ea055cad60.eot");
    src: url("http://db.onlinewebfonts.com/t/e2ada776bd0252e6e44e89ea055cad60.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/e2ada776bd0252e6e44e89ea055cad60.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/e2ada776bd0252e6e44e89ea055cad60.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/e2ada776bd0252e6e44e89ea055cad60.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/e2ada776bd0252e6e44e89ea055cad60.svg#Nova SOLID") format("svg");
}
.wrapper2 {
    background-color: #50a3a2;
    color: #fff;
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    overflow: scroll;
    z-index: -1;
}

.wrapper1 {
    background-image: url(../images/poly/shadow.jpg);
    background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    overflow: scroll;
    z-index: -1;
}
.circle1 {
    background: #50a3a2;
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    display: table;
    border-radius: 50%;
    position: relative;
    margin: 50px auto;
    height: 100px;
    width: 100px;
}
.wrapper2 {
    background: #50a3a2;
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
}
.overlay:hover {
    /*background:#30588e;*/
}
.circle2 {
    background: #000;
    display: table;
    border-radius: 50%;
    position: relative;
    margin: 50px auto;
    height: 100px;
    width: 100px;
}
#btn1 {
    
    vertical-align: middle;
    text-align:center;
    left:0%;
    position:relative; /*makes left effective*/
    display:table-cell;
}
#btn2 {
    vertical-align: middle;
    text-align:center;
    left:0%;
    position:relative; /*makes left effective*/
    display:table-cell;
}
.ulContainer {
    position: relative; /* may need absolute*/
    clear: both;
  margin: auto;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
 width: 500px;
  height: 500px;
    overflow-x: scroll;
}
ul {
    display: inline-block;
    margin: 0;
        padding: 0;
   
}
li {
    
    float: left;
list-style-type: none;
padding: 20px;
}
body {
  font-family: 'Gotham', sans-serif;
    font-weight: 300;
  color: white;
  font-size: 9px;
    
}
.line {
    background: white;
    width: 300px;
    top: 10%;
    height: 3.2px;
    margin:auto;
    position: relative;
}
.desc {
    padding-top: 10%;

    float: center;
    text-align: center;
    font-family: "Roboto",Helvetica,Arial;
    font-size: 12pt;
    font-weight: 100;
    line-height: 1.3em;
    color: #fff;
}
#titleHead {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 150px;
    line-height: 80px;
}
.wrapper {
   
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    overflow: hidden;
    
}
.container {
    max-width: 550px;
    margin: 0px auto;
    padding: 80px 0;
    height: 400px;
    text-align: center;
}
