
/*.round-button {
   
    background: cover;
    width: 200px;
    
    height: 200px;
    padding-bottom: 10%;
    border-radius: 50%;
    overflow: hidden;
    background: #000;
    box-shadow: 0 0 3px gray;
}
.round-button:hover {
    background: #262626;
}
ul {
    width: 70%;
    margin: auto;
}*/


@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
@import url(http://db.onlinewebfonts.com/c/e2ada776bd0252e6e44e89ea055cad60?family=Nova+SOLID);

@font-face {font-family: "Nova SOLID";
    src: url("http://db.onlinewebfonts.com/t/e2ada776bd0252e6e44e89ea055cad60.eot");
    src: url("http://db.onlinewebfonts.com/t/e2ada776bd0252e6e44e89ea055cad60.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/e2ada776bd0252e6e44e89ea055cad60.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/e2ada776bd0252e6e44e89ea055cad60.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/e2ada776bd0252e6e44e89ea055cad60.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/e2ada776bd0252e6e44e89ea055cad60.svg#Nova SOLID") format("svg");
}
#planet {
    
    
    height: auto;
    margin: 0 auto;
    
    position: relative;
    padding: 0px;
}
body {
  font-family: 'Gotham', sans-serif;
    font-weight: 300;
  color: white;
  font-size: 9px;
}
#titleHead {
    font-family: 'Nova SOLID', sans-serif;
    color: white;
    font-size: 180px;
    line-height: 80px;
}
.wrapper {
    background: #50a3a2;
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    overflow: hidden;
}
.container {
    max-width: 600px;
    margin: 0px auto;
    padding: 80px 0;
    height: 400px;
    text-align: center;
}
.container h1 {
  font-size: 40px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-put;
          transition-timing-function: ease-in-put;
  font-weight: 200;
}